VITE_APP_BASE_URL="/"
VITE_APP_API_URL="//127.0.0.1:8010/api"
VITE_API_BASE_URL="http://127.0.0.1:8010"
VITE_PUBLIC_BASE_URL="http://127.0.0.1:8010"
VITE_WIFI_SSID="面试专用WiFi"
VITE_WIFI_PASSWORD="请在前台获取"
VITE_APP_TITLE_SUFFIX="XX系统"
VITE_WRITTEN_EXAM_SECONDS=1800
VITE_ORAL_INTERVIEW_SECONDS=1800
VITE_SNAPSHOT_COUNT=4
